<html>  
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="/css/site.css" rel="stylesheet" type="text/css" />
    <title>Track My Stuff</title>
  </head>
  
  <body>
    <div id="header">
      <h1>Track My Stuff</h1>
      <hr/>    
    </div>

	<p>Are you sure you want to delete the following item with ID: <em>"${model.id}"</em>?</p>
	
	<!-- <form action="delete/${model.id}" method="post">		 -->
	<form action="item/${model.id}" method="post">	
	    <!-- do we need the below ? -->
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Yes, Delete It!">
		<a href="/">Cancel</a>
	</form>
	
  </body>
</html>	